- widget_div do
  %ul
    - for tweet in @tweets
      %li
        = tweet.text

%p
  What are you up to?

- form_tag "", "data-event-url" => url_for_event(:submit) do
  = text_field_tag 'text'

  = submit_tag "Tweet!"

:javascript
  form = $("# form");

  form.submit(function() {
    $.ajax({url: form.attr("data-event-url"), data: form.serialize()})
    return false;
  });
