- widget_div do
  %ul
    - for sweet in @sweets
      %li
        = sweet.text

  %p
    What are you 2 up to?
  
  - form_tag "", "data-event-url" => url_for_event(:submit) do
    = text_field_tag 'text'
  
    = submit_tag "2Sweet!"
  
  :javascript
    var form2 = $("##{@name} form");
  
    form2.submit(function() {
      $.ajax({url: form2.attr("data-event-url"), data: form2.serialize()})
      return false;
    });
